#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreStyles'}
#{stylesheet id:'jquery-datatables', media:'screen', src:'jquery.dataTables.css', title:'JQuery DataTable stylesheet' /}
#{/set}

#{set 'moreScripts'}


#{/set}



<table id="articles" width="100%" border="1px">
<thead>
<tr>
	
	<th>id</th>
	<th>titre</th>
	<th>published</th>
	<th>postedAt</th>
	<th>Action</th>	
</tr>
</thead>
<tbody>
#{list items:posts, as:'post'}
	#{displayPostAdmin value : post/}
#{/list}
</tbody>
	</table>
	
	<p>Nombre d'image en base : ${nbImage}</p>
#{if flash.success}
    <p class="success">
        ${flash.success}
    </p>
#{/if}



<fieldset>
<legend>Ajouter une nouvelle piece jointe</legend>
<form action="@{Backup.restore()}" method="POST" enctype="multipart/form-data" accept="application/json">
    <input type="file" id="file" name="file" />
    <input type="submit" value="Restaurer" />
</form>
</fieldset>


#{a @Admin.add()}+Ajouter un article#{/a}

