#{extends 'main.html' /}
#{set title:'CestPasDur.com' /}


#{if flash.error}
<p class="error">
    ${flash.error}
</p>
#{/if}
#{if flash.success}
<p class="success">
    ${flash.success}
</p>
#{/if}

#{list items:posts, as:'post'}
#{displayPostResume value : post/}
#{/list}


<div class="row">
    <div class="pagination">
        <ul>
            #{list items:0..count.page(pageSize)-1, as:'i'}
            #{if i==page}
            <li class="active"><a href="#">${i+1}</a></li>
            #{/if}
            #{else}
            <li>#{a @index(i)}${i+1}#{/a}</li>
            #{/else}
            #{/list}
        </ul>
    </div>
</div>

<p>&#160;</p>

<hr/>