<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{stylesheet id:'main', media:'screen', src:'main.css', title:'Main stylesheet' /}
        #{stylesheet id:'shjs-ide-eclipse-min', media:'screen', src:'shjs/sh_ide-eclipse.min.css', title:'IDE Eclipse stylesheet' /}
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/CestpasdurcomTutoriauxEtRessourcesDuWeb" />

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!--[if IE]>#{script id:'html5-ie', src:'ie/html5-ie.js'/}<![endif]--> 
        #{script id:'jquery-1.4.2', src:'jquery-1.4.2.min.js' /}
        #{script id:'shjs-main-min', src:'shjs/sh_main.min.js' /}
        #{script id:'shjs-log-min', src:'shjs/sh_log.min.js' /}
        #{script id:'shjs-javascript-min', src:'shjs/sh_javascript.min.js' /}
        #{script id:'shjs-java-min', src:'shjs/sh_java.min.js' /}
        #{script id:'shjs-xml-min', src:'shjs/sh_xml.min.js' /}
        #{script id:'shjs-sh-min', src:'shjs/sh_sh.min.js' /}
        <script type="text/javascript">
        $(document).ready(function(){
                  sh_highlightDocument();
              });
              </script>
        #{script id:'textile-editor-min', src:'textile/textile-editor.min.js' /}
        #{get 'moreScripts' /}
    </head>
    <body>
    <div id="container">

        <header id="banner" class="body">       
            <h1>
                <a href="/">Damien GOUYETTE's blog</a>
            </h1>
            
             <nav>
                 <ul>
                 <li class="active"><a href="/">Accueil</a></li>
                <!--li><a href="#">Contact</a></li-->
                #{gae.ifLoggedIn}
                #{gae.ifAdmin}
                <li>#{a @Admin.index()}Administration#{/a}</li>
                #{/gae.ifAdmin}
                <li><a href="#{gae.logoutURL arg='/'/}">Déconnexion</a> </li>
                #{/gae.ifLoggedIn}
                #{ifNotLoggedIn}
                <li><a href="#{gae.loginURL arg='/'/}">Authentification</a></li>
                #{/ifNotLoggedIn}
                </ul>
            </nav>
        </nav>
        </header>
        
        <section id="mainContent">
            #{doLayout /}
        </section>

        <footer>
            <a href="http://www.playframework.org/" target="_blank"><img id="powered" src="/public/images/badge-dark.png"></a>
        </footer>
        </div>
        #{marqueurStat/}

        <script type="text/javascript">
        //<![CDATA[
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/damiengouyettesblog/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>
        
    </body>
</html>
