<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		#{stylesheet id:'main', media:'screen', src:'main.css' /}
		
		#{stylesheet id:'jquery-ui', media:'screen', src:'jquery-ui/1.8.1/base/jquery.ui.all.css' /}

	  	
        
	  	
	  	#{shjs.style name:'ide-eclipse' /}
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/CestpasdurcomTutoriauxEtRessourcesDuWeb" />

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!--[if IE]>#{script id:'html5-ie', src:'ie/html5-ie.js'/}<![endif]--> 
        #{script id:'jquery', src:'jquery/1.4.2/jquery.min.js' /}
        #{script id:'jquery-ui', src:'jquery-ui/1.8.1/jquery-ui.custom.min.js' /}

		
        

		<script type="text/javascript"  src="/public/markitup/jquery.markitup.js"></script>
	
		<script type="text/javascript"  src="/public/markitup/sets/textile/set.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/public/markitup/sets/textile/style.css" />
		
		<link rel="stylesheet" type="text/css" href="/public/markitup/skins/markitup/style.css" />
		
		
	
        #{get 'moreScripts' /}
    </head>
    <body>
    <div id="container">

        <header id="banner" class="body">       
            <h1>
                #{a @Application.index()}Damien GOUYETTE's blog#{/a}
            </h1>
            
             <nav>
                 <ul>
                 <li class="active">#{a @Application.index()}Accueil#{/a}</li>
                <!--li><a href="#">Contact</a></li-->
                #{gae.ifLoggedIn}
                #{gae.ifAdmin}
                <li>#{a @Admin.index()}Administration#{/a}</li>
                #{/gae.ifAdmin}
                <li><a href="#{gae.logoutURL arg='/' /}">Déconnexion</a> </li>
                #{/gae.ifLoggedIn}
                #{ifNotLoggedIn}
                <li><a href="#{gae.loginURL arg='/' /}">Authentification</a></li>
                #{/ifNotLoggedIn}
                </ul>
            </nav>
        </nav>
        </header>
        
        <section id="mainContent">
            #{doLayout /}
        </section>

        <footer>
            <a href="http://www.playframework.org/" target="_blank"><img id="powered" src="/public/images/badge-dark.png"></a>
        </footer>
        </div>
        #{marqueurStat/}

        <script type="text/javascript">
        //<![CDATA[
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/damiengouyettesblog/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>
        
    </body>
</html>
